<div class="navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0);">HTBilling</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);"
					ng-click="updatePlantCtrl.loadHome()">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="javascript:void(0);"><span
						class="glyphicon glyphicon-user"></span> {{user.name}}<strong
						class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);"><span
								class="glyphicon glyphicon-wrench"></span> Settings</a></li>
						<li><a href="javascript:void(0);"
							ng-click="updatePlantCtrl.logout()"><span
								class="glyphicon glyphicon-off"></span> Logout</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</div>
<br>
<br>
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<div class="page-header text-center">
			<h1>
				<span class="glyphicon glyphicon-certificate"></span> Update Plant
				Details.
			</h1>
		</div>

		<!--Show error messages -->
        <div align='center'>
            <h3><span class="label label-danger" ng-show="error">{{error}}</span>
        </h3>
            <br>
        </div>
		<!--Form-->
		<form name="addPlantForm" id="addPlantForm"
			ng-submit="updatePlantCtrl.processForm()" class="well">
			<div class="form-group has-feedback">
				<label>Enter Plant Code</label> <input class="form-control"
					type="text" placeholder="Plant Code"
					ng-model="plant.code" required>
			</div>
			<div class="form-group">
				<label>Name:</label> <input class="form-control" type="text"
					placeholder="Name" ng-model="plant.name" required>
			</div>
			<div class="form-group">
				<label>Address:</label> <input class="form-control" type="text"
					placeholder="Address" ng-model="plant.address" required>
			</div>
			<div class="form-group">
				<label>Contact No:</label> <input class="form-control" type="text"
					placeholder="Contact No" ng-model="plant.contactNo" required>
			</div>
			<div class="form-group">
				<label>Contact Person:</label> <input class="form-control"
					type="text" placeholder="Contact Person"
					ng-model="plant.contactPerson" required>
			</div>
			<div class="form-group">
				<label>email:</label> <input class="form-control" type="text"
					placeholder="E-MAIL" ng-model="plant.email"  required>
			</div>
			<div class="form-group">
				<span class="glyphicon glyphicon-calendar"></span> <label>Commissioned
					Date:</label>
				<div class='input-group date'>
					<input type='date' class="form-control" 
						ng-model="plant.commissionedDate" required /> <span
						class="input-group-addon"> <span
						class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
			<div class=" form-group ">
				<label>Type:</label>
				<select name="type" id="type" ng-model="plant.type" required>
                        <option value="SOLAR">SOLAR</option>
						<option value="WIND">WIND</option>
				</select>
			</div>
			<div class="form-group">
				<label>Circuit Voltage:</label> <input class="form-control"
					type="text" placeholder="Circuit Voltage"
					ng-model="plant.circuitVoltage" required>
			</div>
			<div class="form-group">
				<label>Injecting Substation:</label> <input class="form-control"
					type="text" placeholder="Injecting Substation"
					ng-model="plant.injectingSubstation" required>
			</div>
			<div class="form-group">
				<label>Feeder Name:</label> <input class="form-control" type="text"
					placeholder="Feeder Name" ng-model="plant.feederName" required>
			</div> 
			<div class="form-group">
				<label>Region: &nbsp;</label> &nbsp;&nbsp;<select name="region" id="region"
					ng-model="plant.region">
					<option value="INDORE">INDORE</option>
					<option value="UJJAIN">UJJAIN</option>
				</select>
			</div>
			<div class="form-group">
				<label>Circle: &nbsp;&nbsp;&nbsp;</label> &nbsp;&nbsp;<select name="circle" id="circle"
					ng-model="plant.circle">
					<option value="indore" >Indore</option>
					<option value="indore o&m" >Indore O&M</option>
					<option value="indore city" >Indore City</option>
					<option value="barwani" >Barwani</option>
					<option value="shajapur" >Shajapur</option>
					<option value="dwewas" >Dewas</option>
					<option value="burhanpur" >Burhanpur</option>
					<option value="khandwa" >Khandwa</option>
					<option value="mandsaur" >Mandsaur</option>
					<option value="neemuch" >Neemuch</option>
					<option value="ratlam" >Ratlam</option>
					<option value="ujjain" >Ujjain</option>
					<option value="dhar" >Dhar</option>
					<option value="jhabua" >Jhabua</option>
					<option value="khargone" >Khargone</option>
				</select>
			</div>
			<div class="form-group">
				<label>Division:</label> <input class="form-control" type="text"
					placeholder="Division" ng-model="plant.division" required>
			</div>
			<div class="form-group">
				<label>Main Meter No:</label> &nbsp;&nbsp;<select name="mainMeterNo"
					id="mainMeterNo" ng-model="plant.mainMeterNo">
					<option value="{{plant.mainMeterNo}}" selected>{{plant.mainMeterNo}}</option>
					<option ng-repeat="main in metersNotInUse" value="{{main.meterNo}}">{{main.meterNo}}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Check Meter No:</label> &nbsp;&nbsp;<select
					name="checkMeterNo" id="checkMeterNo"
					ng-model="plant.checkMeterNo">
					<option value="{{plant.checkMeterNo}}">{{plant.checkMeterNo}}</option>
					<option ng-repeat="check in metersNotInUse" value="{{check.meterNo}}">{{check.meterNo}}</option>
					<option value="NA">NA</option>
				</select>
			</div>
			<div class="form-group">
				<label>Standby Meter No:</label> &nbsp;&nbsp;<select
					name="standbyMeterNo" id="standbyMeterNo"
					ng-model="plant.standByMeterNo">
					<option value="{{plant.standByMeterNo}}" selected>{{plant.standByMeterNo}}</option>
					<option ng-repeat="standby in metersNotInUse" value="{{standby.meterNo}}">{{standby.meterNo}}</option>
					<option value="NA">NA</option>
				</select>
			</div>
			<div class="form-group">
				<label>Developer Name:</label> &nbsp;&nbsp; <select name="developerId"
					id="developerId" ng-model="plant.developerId">
					<option value="{{plant.developerId}}" selected >{{plant.developerId}}</option>
					<option ng-repeat="developer in developers" value="{{developer.id}}">{{developer.name}}</option>
				</select>
			</div>
			<div class="row">
				<div class="col-md-6 ">
					<button type="submit" class="btn btn-success btn-lg btn-block ">
						<span class="glyphicon glyphicon-flash "></span> Update Plant!
					</button>
				</div>
				<div class="col-md-6 ">
					<button type="button" class="btn btn-danger btn-lg btn-block "
						ng-click="updatePlantCtrl.back()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
<br>
<br>