<br>
<br>
<div class="navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0);">MPPKVVCL
				HTBilling</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);"
					ng-click="viewMeterReadingsCtrl.loadCircleHome()">Circle Home</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="javascript:void(0);"><span
						class="glyphicon glyphicon-user"></span> {{user.name}}<strong
						class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);"><span
								class="glyphicon glyphicon-wrench"></span> Settings</a></li>
						<li><a href="javascript:void(0);"
							ng-click="viewMeterReadingsCtrl.logout()"><span
								class="glyphicon glyphicon-off"></span> Logout</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="page-header text-center">
		<h2>
			<span class="glyphicon glyphicon-certificate"></span>Investor wise
			Bifurcation of Consumptions - Circle View
		</h2>
	</div>
	<div class="row text-center">
		<div class="col-md-12">
			<h4>CONSUMPTION DETAILS</h4>
			<table class="table table-bordered">
				<tbody class="text-center">
					<tr>
						<td>SITE NAME: <b>{{investorConsumptions[0].consumption.plantCode|uppercase}}</b></td>
						<td>METER NO</td>
						<td><b>{{investorConsumptions[0].consumption.meterNo}}</b></td>
					</tr>
					<tr>
						<td>MONTH</td>
						<td>KWH EXPORT</td>
						<td>RKVAH CONSUMED</td>
					</tr>
					<tr>
						<td><b>{{investorConsumptions[0].consumption.date}}</b></td>
						<td><b>{{investorConsumptions[0].consumption.activeConsumption}}</b></td>
						<td><b>{{investorConsumptions[0].consumption.reactiveConsumption}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-md-12">
			<h4>GENERATIONS DETAILS</h4>
			<table class="table table-condensed table-bordered">
				<tbody class="text-center">
					<tr>
						<td><strong>S.No</strong></td>
						<td><strong>Machine Code</strong></td>
						<td><strong>Capacity(MW)</strong></td>
						<td><strong>Investor Name</strong></td>
						<td class="text-right"><strong>KWH Export</strong></td>
						<td class="text-right"><strong>RKVAH Consumed</strong></td>
						<td ng-show="investorConsumptions[0].billGenerated"><strong>Bill</strong></td>
					</tr>
					<tr ng-repeat="investorData in investorConsumptions"
						class="text-center">
						<td>{{investorData.investor.id}}</td>
						<td>{{investorData.machines[0].code}}</td>
						<td>{{investorData.machines[0].capacity}}</td>
						<td>{{investorData.investor.name}}</td>
						<td class="text-right">{{investorData.activeConsumption}}</td>
						<td class="text-right">{{investorData.reactiveConsumption}}</td>
						<td ng-show="investorData.billGenerated">
							<button type="button" class="btn btn-info"
								ng-show="investorData.billGenerated"
								ng-click="viewMeterReadingsCtrl.viewBill(investorData)">View
								Bill</button>
						</td>
					</tr>
					<tr>
						<td colspan="4"><strong>Grand Total</strong></td>
						<td class="text-right"><b>{{investorConsumptions[0].consumption.activeConsumption}}</b></td>
						<td class="text-right"><b>{{investorConsumptions[0].consumption.reactiveConsumption}}</b></td>
						<td ng-show="investorConsumptions[0].circleValidation"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<button class="btn btn-primary btn-lg col-md-6" type="button"
			ng-click="viewMeterReadingsCtrl.back()">Back to View
			Readings</button>
	</div>
	<div class="col-md-6" ng-hide="investorConsumptions[0].circleValidation">
		<button class="btn btn-success btn-lg col-md-3 col-md-offset-6"
			type="button" ng-click="viewMeterReadingsCtrl.validateConsumptions(investorConsumptions[0].consumption)">Validate</button>
		<button class="btn btn-danger btn-lg col-md-2 col-md-offset-1"
			type="button" ng-click="viewMeterReadingsCtrl.discardConsumptions()">Discard</button>
	</div>
</div>
<br>
<br>
<hr>