<div class="navbar navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0);">HTBilling</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);"
					ng-click="addDeveloperCtrl.loadHome()">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="javascript:void(0);"><span
						class="glyphicon glyphicon-user"></span>{{user.name}}<strong
						class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);"><span
								class="glyphicon glyphicon-wrench"></span> Settings</a></li>
						<li><a href="javascript:void(0);"
							ng-click="addDeveloperCtrl.logout()"><span
								class="glyphicon glyphicon-off"></span> Logout</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</div>
<br>
<br>
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<div class="page-header text-center">
			<h1>
				<span class="glyphicon glyphicon-certificate"></span> Enter Developers
				Details
			</h1>
		</div>

		
        <div align='center'>
            <h3><span class="label label-danger" ng-show="error">{{error}}</span>
        </h3>
            <br>
        </div>

		<!--Form-->
		<form name="developerForm" id="developerForm"
			ng-submit="addDeveloperCtrl.processForm()" class="well">
			<div class="form-group has-feedback">
				<label>Enter Developer Name</label> <input class="form-control"
					type="text" placeholder="Developer Name"
					ng-model="formData.name" required>
			</div>
			<div class="form-group">
				<label>CIN:</label> <input class="form-control" type="text"
					placeholder="CIN" ng-model="formData.cin" required>

			</div>
			<div class="form-group">
				<label>Office Address:</label> <input class="form-control" type="text"
					placeholder="Office Address" ng-model="formData.officeAddress"
					required>
			</div>
			<div class="form-group">
				<label>Office Contact No:</label> <input class="form-control" type="text"
					placeholder="Office Contact No" ng-model="formData.officeContactNo"
					required>
			</div>
			<div class="form-group">
				<label>Office Contact Person:</label> <input class="form-control"
					type="text" placeholder="Office Contact Person"
					ng-model="formData.officeContactPerson" required>
			</div>
			<div class="form-group">
				<label>Office email:</label> <input class="form-control" type="text"
					placeholder="Office E-MAIL" ng-model="formData.officeEmail"
					required>
			</div>
			<div class="form-group">
				<label>Site Address:</label> <input class="form-control" type="text"
					placeholder="Site Address" ng-model="formData.siteAddress"
					required>
			</div>
			<div class="form-group">
				<label>Site Contact No:</label> <input class="form-control" type="text"
					placeholder="Site Contact No" ng-model="formData.siteContactNo"
					required>
			</div>
			<div class="form-group">
				<label>Site Contact Person:</label> <input class="form-control"
					type="text" placeholder="Site Contact Person"
					ng-model="formData.siteContactPerson" required>
			</div>
			<div class="form-group">
				<label>Site email:</label> <input class="form-control" type="text"
					placeholder="Site E-MAIL" ng-model="formData.siteEmail"
					required>
			</div>
			
			
			<div class="form-group">
				<label>Select Developer Username: </label>
				<br> 
				<select name="username" id="username" ng-model="formData.username" >
						<option ng-repeat="developer in developers" value="{{developer.username}}">{{developer.username}}</option>
				</select>
			</div>
			
			<div class="row">
				<div class="col-md-6 ">
					<button type="submit " class="btn btn-success btn-lg btn-block ">
						<span class="glyphicon glyphicon-flash "></span> Add Developer!
					</button>
				</div>
				<div class="col-md-6 ">
					<button class="btn btn-danger btn-lg btn-block " type="reset"
						ng-click="addDeveloperCtrl.clearForm()">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div><br>
<br>