<div class="navbar navbar-fixed-top">
	<div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0);">HTBilling</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);"
					ng-click="viewDeveloperDetailsCtrl.loadHome()">Home</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="javascript:void(0);"><span
						class="glyphicon glyphicon-user"></span> {{user.name}}<strong
						class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);"><span
								class="glyphicon glyphicon-wrench"></span> Settings</a></li>
						<li><a href="javascript:void(0);"
							ng-click="viewDeveloperDetailsCtrl.logout()"><span
								class="glyphicon glyphicon-off"></span> Logout</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</div>
<div class="row loading" ng-if="loading">
	<div class='form-group col-xs-12 col-md-4 col-md-offset-5 col-lg-4 col-lg-offset-5'>
		<label for='example-text-input' class="font-weight-bold">Loading
			Developers...</label>
		<div>
			<span class='fa fa-cog fa-spin' style='font-size: 100px'></span>
		</div>
	</div>
</div>
<div ng-if="!loading">
	<br>
	<div class="page-header text-center">
		<h2>
			<span class="glyphicon glyphicon-certificate"></span>View Developer
			Details
		</h2>
	</div>
	<div class="table-responsive">
		<table class="table table-condensed table-bordered table-hover">
			<tbody class="text-center">
				<tr>
					<td colspan="8"><input type="text"
						placeholder="Enter Anything to Search from Plants"
						class="form-control" ng-model="developersSearchText"></input></td>
					<td colspan="3"><a href="javascript:void(0);"
						class="form-control btn btn-primary"
						ng-click="developersSearchText=''">Clear</a></td>
				</tr>
				<tr class="success">
					<td><strong>S.No</strong></td>
					<td><strong>Name</strong></td>
					<td><strong>CIN</strong></td>
					<td><strong>Username</strong></td>
					<td><strong>Office Address</strong></td>
					<td><strong>Office Contact No</strong></td>
					<td><strong>Office Contact Person</strong></td>
					<td><strong>Office Email</strong></td>
					<td><strong>Site Address</strong></td>
					<td><strong>Site Contact No</strong></td>
					<td><strong>Site Contact Person</strong></td>
					<td><strong>Site Email</strong></td>
					<td><strong>Edit</strong></td>
					<td><strong>Delete</strong></td>
				</tr>
				<tr
					dir-paginate="developer in developers | filter:developersSearchText | itemsPerPage:
					pageSize"
					current-page="currentPage">
					<td>{{$index + 1}}</td>
					<td>{{developer.name}}</td>
					<td>{{developer.cin}}</td>
					<td>{{developer.username}}</td>
					<td>{{developer.officeAddress}}</td>
					<td>{{developer.officeContactNo}}</td>
					<td>{{developer.officeContactPerson}}</td>
					<td>{{developer.officeEmail}}</td>
					<td>{{developer.siteAddress}}</td>
					<td>{{developer.siteContactNo}}</td>
					<td>{{developer.siteContactPerson}}</td>
					<td>{{developer.siteEmail}}</td>
					<td><a href="javascript:void(0);"> <span
							class="glyphicon glyphicon-pencil"
							ng-click="viewDeveloperDetailsCtrl.update(developer.id)">
						</span>
					</a></td>
					<td><a href="javascript:void(0);"> <span
							class="glyphicon glyphicon-trash"
							ng-click="viewDeveloperDetailsCtrl.remove(developer)">
						</span>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<dir-pagination-controls boundary-links="true"
			on-page-change="pageChangeHandler(newPageNumber)"
			template-url="js/angular/dirPagination.tpl.html">
		</dir-pagination-controls>
	</div>
</div>
<br>
<br>