@media print {
    footer {
        visibility: hidden;
    }
    .navbar {
        visibility: hidden;
    }
    .NonPrintable
    {
      display: none;
    }
    body {
        margin-top: 0 0 0 0;
    }
}