@media print {
    footer {
        display: none;
    }
    .navbar {
        display: none;
    }
    .NonPrintable
    {
      display: none;
    }
    body {
        margin-top: 0 0 0 0;
    }
    #billTable1 > tbody > tr > td{
	border: 1px solid #020608;
	font-size: 12px;
}
}