<div class="navbar navbar-fixed-top">
	<div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0);">HTBilling</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:void(0);"
					ng-click="viewInvestorDetailsCtrl.loadHome()">Home</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="javascript:void(0);"><span
						class="glyphicon glyphicon-user"></span> {{user.name}}<strong
						class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);"><span
								class="glyphicon glyphicon-wrench"></span> Settings</a></li>
						<li><a href="javascript:void(0);"
							ng-click="viewInvestorDetailsCtrl.logout()"><span
								class="glyphicon glyphicon-off"></span> Logout</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
</div>
<div>
	<br>
	<div class="page-header text-center">
		<h2>
			<span class="glyphicon glyphicon-certificate"></span>View Investor
			Details
		</h2>
	</div>
	<div class="table-responsive">
		<table class="table table-condensed table-bordered table-hover">
			<!-- <thead>
				<th class="text-center success">S.No</th>
				<th class="text-center success">Code</th>
				<th class="text-center success">Name</th>
				<th class="text-center success">CIN</th>
				<th class="text-center success">TIN</th>
				<th class="text-center success">VAT</th>
				<th class="text-center success">Invoice No</th>
				<th class="text-center success">Office Address</th>
				<th class="text-center success">Office Contact No</th>
				<th class="text-center success">Office Contact Person</th>
				<th class="text-center success">Office Email</th>
				<th class="text-center success">Site Address</th>
				<th class="text-center success">Site Contact No</th>
				<th class="text-center success">Site Contact Person</th>
				<th class="text-center success">Site Email</th>
				<th class="text-center success">Edit</th>
				<th class="text-center success">Delete</th>
			</thead> -->
			<tbody class="text-center">
				<tr>
					<td colspan="8">
						<input type="text" placeholder="Enter Anything to Search from Plants"
						class="form-control" ng-model="investorsSearchText"></input>
					</td>
					<td colspan="9">
						<a href="javascript:void(0);" class="form-control btn btn-primary" ng-click="investorsSearchText=''">Clear</a>
					</td>
				</tr>
				<tr class="success">
					<td><strong>S.No</strong></td>
					<td><strong>Code</strong></td>
					<td><strong>Name</strong></td>
					<td><strong>CIN</strong></td>
					<td><strong>TIN</strong></td>
					<td><strong>VAT</strong></td>
					<td><strong>Invoice No</strong></td>
					<td><strong>Office Address</strong></td>
					<td><strong>Office Contact No</strong></td>
					<td><strong>Office Contact Person</strong></td>
					<td><strong>Office Email</strong></td>
					<td><strong>Site Address</strong></td>
					<td><strong>Site Contact No</strong></td>
					<td><strong>Site Contact Person</strong></td>
					<td><strong>Site Email</strong></td>
					<td><strong>Edit</strong></td>
					<td><strong>Delete</strong></td>
			   </tr>
			
				<tr
					dir-paginate="investor in investors| filter:investorsSearchText | itemsPerPage:
					pageSize"
					current-page="currentPage">
					<td>{{$index+1}}</td>
					<td>{{investor.code}}</td>
					<td>{{investor.name}}</td>
					<td>{{investor.cin}}</td>
					<td>{{investor.tin}}</td>
					<td>{{investor.vat}}</td>
					<td>{{investor.invoiceNo}}</td>
					<td>{{investor.officeAddress}}</td>
					<td>{{investor.officeContactNo}}</td>
					<td>{{investor.officeContactPerson}}</td>
					<td>{{investor.officeEmail}}</td>
					<td>{{investor.siteAddress}}</td>
					<td>{{investor.siteContactNo}}</td>
					<td>{{investor.siteContactPerson}}</td>
					<td>{{investor.siteEmail}}</td>
					<td><a href="javascript:void(0);"><span
							class="glyphicon glyphicon-pencil" ng-click="viewInvestorDetailsCtrl.update(investor.id)"></span></a></td>
					<td><a href="javascript:void(0);"><span
							class="glyphicon glyphicon-trash"
							ng-click="viewInvestorDetailsCtrl.remove((currentPage- 1)*pageSize + $index)"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<dir-pagination-controls boundary-links="true"
			on-page-change="pageChangeHandler(newPageNumber)"
			template-url="js/angular/dirPagination.tpl.html">
		</dir-pagination-controls>
	</div>
</div>
<br>
<br>