<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);">HTBilling</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="javascript:void(0);" ng-click="updateMeterCtrl.loadHome()">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="glyphicon glyphicon-user"></span>  {{user.name}}<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" ng-click="updateMeterCtrl.logout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header text-center">
            <h1><span class="glyphicon glyphicon-certificate"></span> Update Meter Details.</h1>
        </div>

        <!--Show error messages -->
        <div align='center'>
            <h3><span class="label label-danger" ng-show="error">{{error}}</span>
        </h3>
            <br>
        </div>

        <!--Form-->
        <form name="addMeterForm" id="addMeterForm" ng-submit="updateMeterCtrl.processForm()" class="well">
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-asterisk">
                </span>
                <label for="meterno">Enter Meter No.</label>
                <input class="form-control" type="text" placeholder="Meter No" value="{{meter.meterNo}}" ng-model="meter.meterNo" required>
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star"></span>
                <label>Make:</label>
                <input class="form-control" type="text" placeholder="Make" value="{{meter.make}}" ng-model="meter.make" required>

            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star"></span>
                <label>Category :</label>
                <select name="category" id="category" ng-model="meter.category" required>
                        <option value="{{meter.category}}" selected>{{meter.category}}</option>
                        <option value="MAIN">MAIN</option>
						<option value="CHECK">CHECK</option>
						<option value="STANDBY">STANDBY</option>
				</select>
                <!-- <input class="form-control" type="text" placeholder="Category" ng-model="formData.category" required> -->
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star"></span>
                <label>Type:</label>
                <select name="type" id="type" ng-model="formData.type" required>
                       <option value="{{meter.type}}" selected>{{meter.type}}</option>
                       <option value="ABT">ABT</option>
					   <option value="NONABT">NON-ABT</option>
				</select>
                <!-- <input class="form-control" type="text" placeholder="Type" ng-model="formData.type" required> -->
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-pencil"></span>
                <label>Meter Class:</label>
                <input class="form-control" type="text" placeholder="Meter Class" value="meter.meterClass"ng-model="meter.meterClass" required>
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-pencil"></span>
                <label>CTR:</label>
                <input class="form-control" type="text" placeholder="CTR" value="{{meter.ctr}}" ng-model="meter.ctr" required>
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-pencil"></span>
                <label>PTR:</label>
                <input class="form-control" type="text" placeholder="PTR" value="{{meter.ptr}}" ng-model="meter.ptr" required>
            </div>
            <div class=" form-group ">
                <span class="glyphicon glyphicon-pencil "></span>
                <label>MF</label>
                <input class="form-control " type="number" placeholder="MF" value="meter.mf" ng-model="meter.mf" required>
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-pencil "></span>
                <label>Equipment Class:</label>
                <input class="form-control" type="text" placeholder="Equipment Class" value="{{meter.equipmentClass}}" ng-model="meter.equipmentClass" required>
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star"></span>
                <label>Phase:</label>
                <input class="form-control" type="text" placeholder="Phase" value="{{meter.phase}}" ng-model="meter.phase" required>
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star"></span>
                <label>Mater Group:</label>
                <select name="meterGroup" id="meterGroup"  ng-model="meter.meterGroup" required>
                        <option value="{{meter.meterGroup}}" selected>{{meter.meterGroup}}</option>
                        <option value="SOLAR">SOLAR</option>
						<option value="WIND">WIND</option>
				</select>
                <!-- <input class="form-control" type="text" placeholder="Meter Group" ng-model="formData.meterGroup" required> -->
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <button type="submit " class="btn btn-success btn-lg btn-block">
                        <span class="glyphicon glyphicon-flash "></span> Update Meter!
                    </button>
                </div>
                <div class="col-md-6 ">
                    <button class="btn btn-danger btn-lg btn-block" type="reset" ng-click="navigateToView()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div><br>
<br>